body {
  background-image: url(ravenna_@2X.png);
  padding: 80px;
  padding-top: 30px;
}


header {
  padding-bottom: 20px;
}
header ul {
  float: right;
}
header ul li {
  display: inline-block;
  font-size: 2em;
  padding-left: 1em;
}
header ul li a {
  text-decoration: none;
  color: green;

}
header ul li a:hover {
  text-decoration: none;

}

img.main {
  width: 100%;
}

.row {
  margin: 0;
}

footer {
  background-color: rgb(0, 64, 0);
  margin-top: 4em;
  color: white;
  padding: 20px;
}

h1.page-header {
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: green;
  border: 0;
}
.white {
  color: white;
}
.red {
  color: rgb(206, 43, 55);
  -webkit-text-stroke: 0.5px white;
}

div.banner-image {
  text-align: center;
  z-index: -100;

}
.call-to-arms {
  text-align: center;
  padding-top: 3em;
  font-size: large;
}
h3 {
  text-align: center;
}

.contact .icons {
  padding: 0;
}
.contact {
  font-size: larger;
}

.list-food-img {
  max-width: 30%;
  max-height: 30%;
  margin: auto;
  padding: auto;
}

.food-description {
  display: inline-block;
  height: 109px;
}
.ingredients {
  height: 70px;
  overflow: scroll;
  padding-left: 5px;
  padding-right: 5px;
}
.toppings-extra .food-description {
  text-align: right;
}
.toppings-extra .food-description h3 {
  text-align: right;
}
h3.pizza-size{
  text-align: left;
}

.menu-panel {
  background-color: white;
  padding-bottom: 30px;
}
.tab-pane .col-md-6 {
  padding: 0;
  margin: 0;
}
.menu-panel ul {
  border: 0;
}

.menu-panel ul li {
  text-align: center;
  padding: 0;
  border: 0;
}
.menu-panel ul li a{
  text-align: center;
  border: 0;
  margin: 0;
  border-radius: 0;
}
.no-columns .col-md-12 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.no-columns .food-description {
  height: 100%;
}
ol li {
  margin-bottom: 10px;
}
.no-columns .food-description .ingredients {
  height: 100%;
}
#pizza-tab {
  background-color: tan;
}
#pasta-tab {
  background-color: red;
}
#burger-tab {
  background-color: blue;
}
#combo-tab {
  background-color: cyan;
}
#kids-tab {
  background-color: lightpink;
}
#others-tab {
  background-color: orange;
}

.tab-pane {
  padding: 15px;
}
.tab-pane .col-md-6 img{
  padding: 0px;
  margin: 0;
  margin-top: 10px;
  height: 109px;
}

.lower-cols {
  text-align: center;
}
.crop-img {
  max-width: 100%;
  max-height: 80%;
  height: 120px;
  margin-top: 3px;
  overflow: hidden;
}

.lower-cols .row h4 {
  margin: 0;
}

.lower-cols {
  text-align: left;
}

.links {
  float: right;
}

.links a {
  color: white;
  margin-right: 10px;
}

.links a:hover{
  color: white;
}

span.hours {
  text-align: right;
}